click
cycler
Flask
fonttools
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pip
pyparsing
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
Werkzeug
zipp
