body{
    font-family:'Times New Roman', Times, serif;
    background-color: lightblue;
    background-size: cover;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*Beginning of code for Header*/

header {
    background: lightblue;
    text-align: center;
    position: fixed;
    width: 100%; 
    z-index: 999; 
}

nav {
    background: lightblue;
    position: absolute; 
    text-align: left;
    top: 100%;
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 0.8em;
    margin-left: 1em; 
}

nav a{ 
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
}

nav a:hover {
    color: blue;
}

.navToggle:checked ~ label {
    rotate: 180deg;
}

.navToggle:checked ~ nav { 
    display: block;
}

.navToggle {
    display: none;
}

.navToggleSymbol {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (min-width: 800px) { /*The following code runs when the browser window is a min of 800px*/
    .navToggleSymbol {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .webpageLogo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 10px;
    }

    nav a{
        opacity: 1;
    }

    nav ul{
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: -0.2em;
    }

}
/*End styling for header*/

/* Scrolling Features */
.fullWebpage{
    overflow-x: hidden;
    overflow-y: auto;
}

/*Styling for the page title:*/
.pageTitle{
    color:black;
    text-align: center;
    text-shadow: -1.0px 1.0px 0 white, 1.0px 1.0px 0 white, 1.0px -1.0px 0 white,-1.0px -1.0px 0 white; 
    padding-top: 10em;
    padding-bottom: 1.2em;
}

/*Styling for the footer*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding-top: 6.2em;
}

pre{
    font-family:'Times New Roman', Times, serif;
}
