<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Results</title>
</head>
<body>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!-- Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <!--CSS Link-->
     <link rel = "stylesheet" href = "/static/userResult.css">
    <header>
        <img class = "webpageLogo" src = "/static/IrisLogo.png" width = 125px height = 125px alt = "Logo of website with Iris flower">
        <input type = "checkbox" id = "navToggle" class = "navToggle"> 
        <nav> 
            <ul> 
                <li><a href = "{{url_for('home')}}">Home</a></li>
                <li><a href = "{{ url_for('aboutIrisFlower')}}">About the Flower</a></li>
                <li><a href = "{{ url_for('aboutApplication')}}">About the Application</a></li>
                <li><a href = "{{ url_for('contactInfo')}}">Contact</a></li>
            </ul>
        </nav>
        <label for = "navToggle" class = "navToggleSymbol">
            <span>⌄</span> 
        </label>
    </header>
    <div class = "webpageTitle">
        <h1 class = "display-6">Here are your prediction results!</h1>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col">
                <div class = "accuracyMessage">
                    <i><u>KNN Algorithm Accuracy (in percent):</u></i>
                    <p><b><div class = "algorithmAccuracy">{{algorithmAccuracy}}</div></b></p>
                </div>
            </div>
            <div class = "col">
                <div class = "outputPicture">
                    <h3 id = "flowerImage"><img src = "{{flowerPicture}}" width = 400px height = 400px alt = "Iris Setosa Image"> 
                </div>
            </div>
            <div class = "col">
                <div class = "predictionMessage">
                    <i><u>Iris Species Prediction (species of best fit):</u></i>
                    <p><b><div class = "IrisSpeciesResult">{{userIrisSpecies}}</div></b></p>
                </div>
            </div>
            <div class = "col-md-12">
                <p id = "flowerImageCaption"><b>Picture description: </b>A picture of a sample flower belonging to species {{userIrisSpecies}}</p>
            </div>
            <div class = "col-md-12">
                <div class = "goingBackHome">
                    <p><a id = "goingHomeText" href="{{ url_for('userRedirect') }}">Go back to Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class = "mt-auto">
        <pre>Created by Carmen Chau.           <a href="{{ url_for('contactInfo') }}">Contact Information</a></pre>
    </footer> 
</body>
</html>